@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=Roboto+Serif:ital,opsz,wght@1,8..144,600&display=swap');
body {
	background-color: skyblue;
	font-family: 'Averia Serif Libre', cursive;
}
h1, h2, p {
	color: red;
}
{
	color: whitesmoke;
}
#my-avatar { width: 140px;
border-radius: 50%;}
#content{
	text-align: center;
}
#my-name{
font-family: 'Roboto Serif', serif;
}