@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@1&family=Roboto+Serif:ital,opsz,wght@1,8..144,600&display=swap');

/* CSS reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100vh;
	width: 100%;	
	position: relative;
}

body {
	background-color: #790252;
	font-family: 'Averia Serif Libre', cursive;
	color: #BCCEF8;
}

#my-avatar { 
width: 150px;
border-radius: 1%;}

#content{
	text-align: center;
	height: 100%;
}

#my-name{
font-family: 'Roboto Serif', serif;
color: #00D7FF;
}

#left-side
{
position: absolute;
top: 16px;
left: 16px;
}


#left-side > a {
margin-right: 16px;
}

#right-side
{
position: absolute;
top: 16px;
right: 16px;
}
a {
	color: #6EDCD9;
	text-decoration: none;
	border-bottom: 1px dotted #6EDCD9;
}
footer{
	position: absolute;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);

}
footer a:first-child {
	margin-right: 16px;
}

#content div {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Projects page */

#hero-banner {
	background: linear-gradient(150deg, red, orange, black);
	padding-top: 15px;
	padding-bottom: 15px;
}

#hero-banner > div {
	width: 50%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#hero-banner > div > div {
	display: inline-block;
}
#hero-banner h1,
#hero-banner h2 {
	color: blue;
}
h3{
	text-align: center;
	font-size: 32px;
}

